<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action= "/reviews/<%=review._id%>?_method=PUT" method ="POST">

        Landlord : <input type="text" name="landlord" value="<%=review.landlord%>">
        Address : <input type ="text" name= "address" value="<%=review.address%>">
        Rating : <input type="number" min="1" max="5" name="rating" value="<%=review.rating%>">
        Comment :<input type="text-area" name="comment" value="<%=review.comment%>">
        Date Moved In :<input type="datetime-local" min="01/01/1900" max="01/01/2019" name="dateStart" value="<%=review.dateStart%>">
        Date Moved Out :<input type="datetime-local" min="01/01/1900" max="01/01/2019" name="dateEnd" value="<%=review.dateEnd%>">
        <input type ="submit">

    </form>
</body>
</html>

