<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/_header %>
    <title>Document</title>
</head>
<body>
  <%- include ../partials/_navbar %>
  
    <!-- Page Content -->
    <div class="container">
     <div class = "top-space">
     </div>
        
      <!-- Jumbotron Header -->
      <div class="container">
          <!-- Jumbotron Header -->
          <div class="jumbotron my-4 landlord-jumbo">
            <div class="jumbotron-content">
              <h1 class="display-3">Reviews</h1>
              <p class="lead ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
              <a href ="/reviews/new" class="btn btn-primary btn-lg">Add a review</a>
            </div>
          </div>
        

      <!-- Page Features -->
      <div class="row text-center">
     <% for (let i= 0; i < reviews.length; i ++) { %>
     
          <div class="col-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Review</h4>

              Landlord: <%= reviews[i].landlord.name %><br> 
              <!-- <a href="/reviews/<%=reviews[i]._id%>"><%=reviews[i].landlord%></a></br> -->
              Property address: <%=reviews[i].address%></br>
              Overall rating: <%=reviews[i].rating%></br>
              Experience: <%=reviews[i].comment%></br>
              <%=reviews[i].dateStart%></br>
              <%=reviews[i].dateEnd%></br>
              <form action="/reviews/<%=reviews[i]._id%>?_method=DELETE" method="POST">
                  <input type="submit" value="Delete">
              </form>
              <p><a href="/reviews/<%=reviews[i]._id%>/edit">Edit Review here</a></p>
            </div>
          </div>
        </div>
     
    
    <% } %>
  </div>
  <!-- /.row -->
  
  <!-- /.container -->
  <div class = "top-space">
  </div>
  <!-- Footer -->
  
    </div>
    <!-- /.container -->

    <div class = "top-space">
    </div>
  </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; RentSmart 2018</p>
      </div>
      <!-- /.container -->
    </footer>

</body>
</html>
    