<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> <a href ="/reviews/new">Hey there make a new review yo</a> </h1>
    <% for (let i= 0; i < reviews.length; i ++) { %>
        <section>
            <li>
                Landlord: <%= reviews[i].landlord.name %><br> 
                <!-- <a href="/reviews/<%=reviews[i]._id%>"><%=reviews[i].landlord%></a></br> -->
                Property address: <%=reviews[i].address%></br>
                Overall rating: <%=reviews[i].rating%></br>
                Experience: <%=reviews[i].comment%></br>
                <%=reviews[i].dateStart%></br>
                <%=reviews[i].dateEnd%></br>
                <form action="/reviews/<%=reviews[i]._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
                </form>
                <p><a href="/reviews/<%=reviews[i]._id%>/edit">Edit Review here</a></p>
            </li>
            
        </section>
   <% } %>
</body>
</html>
    

