<!DOCTYPE html>
<html lang="en">
<head>
        <%- include ../partials/_header %>

    <title>Document</title>
</head>
<body>
        <%- include ../partials/_navbar %>

       

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>


    <!-- Page Content -->
    <div class="container">
     <div class = "top-space">
     </div>
        
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">REVIEW TIME!</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <a href ="/reviews/new" class="btn btn-primary btn-lg">Create a Review!</a>
      </header>

      <!-- Page Features -->
      <div class="row text-center">
     <% for (let i= 0; i < reviews.length; i ++) { %>
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Review</h4>

              Landlord: <%= reviews[i].landlord.name %><br> 
              <!-- <a href="/reviews/<%=reviews[i]._id%>"><%=reviews[i].landlord%></a></br> -->
              Property address: <%=reviews[i].address%></br>
              Overall rating: <%=reviews[i].rating%></br>
              Experience: <%=reviews[i].comment%></br>
              <%=reviews[i].dateStart%></br>
              <%=reviews[i].dateEnd%></br>
              <form action="/reviews/<%=reviews[i]._id%>?_method=DELETE" method="POST">
                  <input type="submit" value="Delete">
              </form>
              <p><a href="/reviews/<%=reviews[i]._id%>/edit">Edit Review here</a></p>
                  </div>
          </div>
        </div>
        <% } %>
      </div>
      <!-- /.row -->
    


                   


    </div>
    <!-- /.container -->
    <div class = "top-space">
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; RentSmart 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
    

