<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit info for <%= user.name %></h1>
    <form action= "/users?_method=PUT" method ="POST">
        Name: <input type="text" name="name" value ="<%= user.name %>"><br>
        Username: <input type="text" name="username" value ="<%= user.username %>"><br>
        Email: <input type="email" name="email" value ="<%= user.email %>"><br>
        <input type="submit">
    </form>
    <br>
    <br>
    <form action="/users/delete?_method=DELETE" method="POST">
        <input type="submit" value="delete <%= user.name %>">
    </form>
</body>
</html>