<!DOCTYPE html>
<html lang="en">
<head>
        <%- include ../partials/_header %>

    <title>Document</title>
</head>
<body>
    <%- include ../partials/_navbar %>
    <div class = "top-space"></div>
    <div class="container">
        <div class="row">
            <h1>Hey <%= user.name %>, here are your reviews.</h1>
        </div>
        <div class="row">
            <p><a href="users/edit">Edit your profile</a></p>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <!-- <div class="col-sm-6"> -->
                <% for(let i=0; i < reviews.length; i++) { %>
                    <div class="card h-100" style="margin: 4.1%">
                        <h4 class="card-header"><%= reviews[i].address %></h4>
                        <div class="card-body">
                            <p class="card-text">What you said about <i><%= reviews[i].landlord.name %></i>:</p>
                            <p class="card-text">"<%= reviews[i].comment %>"</p>
                        </div>
                        <div class="card-footer">
                            <a href="/reviews/<%=reviews[i]._id%>/edit" class="btn btn-primary">Edit Review</a>
                        </div>
                    </div>
                <% } %>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>
</html>