<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit landlord or management company</h1>
    <% console.log(landlord.name) %>
    <form action="/landlords/<%= landlord._id %>?_method=PUT" method="POST">
        <p>Landlord or company name:</p><input type="text" name="name" value="<%= landlord.name %>">
        <p>Zip code of landlord or company:</p><input type="number" name="zip" pattern=".{5,10}" required title="5 characters minimum" value="<%= landlord.zip %>">
        <br>
        <br>
        <input type="submit">
    </form>
    <br>
    <br>
    <form action="/landlords/<%= landlord._id %>?_method=DELETE" method="POST">
        <input type="submit" value="delete <%= landlord.name %>">
    </form>
</body>
</html>