<!DOCTYPE html>
<html lang="en">
<head>
        <%- include ../partials/_header %>

    <title>Landlords</title>
</head>
<body>
        <%- include ../partials/_navbar %>
    <div class = "top-space">

    </div>

    <h1>Landlords</h1>
    <a href="/landlords/new">Add a new landlord</a>
    <% for(let i=0; i<landlords.length; i++) { %>
        <p><%= landlords[i].name %> has a rating of <%= landlords[i].rating %>.</p>
        <p><a href="/landlords/<%= landlords[i]._id %>/edit">edit <%= landlords[i].name %></a></p>
    <% } %>
</body>
</html>